.game-area {
  position: relative;
  height: 500px;
  width: 800px;;
  display: block;
  margin: auto;
  padding: 0;
  border: solid 1px black;
}

/* #foregroundCanvas {
  display: block;
  margin: auto;
  padding: 0;
} */

#playerCanvas {
  display: block;
  position: absolute;
  top: 200;
  left: 350;
  z-index: 2;
}
