@font-face {
    font-family: 'sf_alien_encountersitalic';
    src: url('sfalienencounters-italic-webfont.woff2') format('woff2'),
         url('sfalienencounters-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url("../imgs/vaporwave_background.png");
  background-position: center top;
  display: flex;
  flex-direction: column;
  font-family: sf_alien_encountersitalic;
}

h1 {
  font-size: 48px;
  font-weight: normal;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0;
}

h2 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h2 a:hover {
  color: purple;
}

.game-area {
  position: relative;
  height: 550px;
  width: 800px;;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 0;
}

#options-canvas {
  display: block;
  position: absolute;
  top: 1;
  left: 1;
  z-index: 10;
}

#foreground-canvas {
  display: block;
  border: solid 1px black;
  z-index: 3;
  opacity: 0.8;
}

#player-canvas {
  display: block;
  position: absolute;
  top: 175;
  left: 325;
  z-index: 4;
}

#mobile-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
}

#stats-canvas {
  display: block;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  z-index: 5;
}

.info-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.info-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 300px;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.8);
}

.info-area a {
  color: black;
  text-decoration: none;
}

.info-area a:hover {
  text-decoration: none;
}

.name-area {
  font-size: 24px;
}

.icon-area {
  padding: 15px 0 20px 0;
}

.icon-area a {
  font-size: 36px;
  padding-left: 20px;
  padding-right: 20px;
}

.icon-area a:hover {
  color: purple;
}

.info-background span {
  font-size: 12px;
}

.info-background span a:hover {
  color: purple;
}

.farewell {
  margin: auto;
}

.farewell h6 {
  color: white;
  font-size: 30px;
  margin: 0;
}

.hidden {
  visibility: hidden;
}
